<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Handle node application
  RewriteRule ^$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ / [L,QSA]
</IfModule>

# DO NOT REMOVE - CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot /home/u7079808/public_html
PassengerBaseURI /
PassengerNodejs /home/u7079808/nodevenv/public_html/18/bin/node
PassengerAppType node
PassengerStartupFile start.js
# DO NOT REMOVE - CLOUDLINUX PASSENGER CONFIGURATION END